<template>
  <v-app id="login" class="primary">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4 pb-16>
            <v-card class="elevation-1 pa-3">
              <v-card-text>
                <div class="layout column align-center">
                  <img src="@/static/m.png" alt="Timesheet working management" width="64" height="64">
                  <h1 class="flex my-4 primary--text">Login</h1>
                </div>
                <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                >
                  <v-text-field
                      append-icon="person"
                      name="email"
                      label="Email"
                      type="text"
                      v-model.lazy="form.username"
                      placeholder="admin@example.com"
                      required
                      v-validate="'required|email'"
                      data-vv-name="email"
                      :error-messages="errors.collect('email')"
                  ></v-text-field>
                  <v-text-field
                      append-icon="lock"
                      name="password"
                      label="Password"
                      id="password"
                      type="password"
                      v-model.lazy="form.password"
                      placeholder="password"
                      required
                      v-validate="'required|min:6'"
                      data-vv-name="password"
                      :error-messages="errors.collect('password')"
                  ></v-text-field>
                  <p class="red--text">{{error}}</p>
                  <nuxt-link to="/forgot-password">
                    Forget Password ?
                  </nuxt-link>
                  <v-card-actions>
                    <v-btn block color="primary" @click="loginPassport" :disabled="!valid">Login</v-btn>
                  </v-card-actions>
                </v-form>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

export default {
  layout: 'default',
  auth: 'guest',
  $_veeValidate: {
    validator: 'new'
  },
  data() {
    return {
      form: {
        username: null,
        password: null,
      },
      error: null,
      valid: true
    }
  },
  mounted() {
    if (this.$auth.loggedIn) {
      this.$router.push('/')
    }
  },
  methods: {
    async loginPassport() {
      await this.$validator.validateAll()
      this.error = null
      await this.$auth
          .loginWith('laravelPassportPassword', {data: this.form})
          .then(() => {
            this.$router.push('/')
          })
          .catch((e) => {
            this.error = 'Incorrect email or password.'
            console.log(e)
          })
    },
  },
}
</script>
<style scoped lang="scss">
#login {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
}
</style>